header {
    
    .site-title-wrapper,
    .site-description-wrapper { display: flex; }
   
    .header-left, .header-right { 
        overflow-x: hidden; 
    }
    
    
    
    h1.site-title { font-size: 5em; }
    p.site-title { font-size: 2.2em; }
    
    h1.site-title, p.site-title {  
        font-family: Anton;
        display: inline-block;
        width: 100vw;
        padding: 0 2vw 0 3vw;
        margin: 0;
        
        a { 
            letter-spacing: 2px;
            text-decoration: none;         
            text-transform: lowercase;
        }
     }
     
     p.site-description {
         font-family: Cabin;
         font-size: 1.8em;
         padding-left: 3vw;
         background: $color__header-background-secondary;
         color: $color__header-color-secondary;
         margin: 0 0 3% 0;
     }
     
     .header-left {
        background: $color__header-background-primary; 
        flex: 1 0 70vw;
        
        h1.site-title, p.site-title {
            color: $color__header-color-primary;
            
            a { color: $color__header-color-primary;}
        }
     }
     
     .header-right{
        background: $color__header-background-secondary;
        flex: 1 0 30vw;
        
        h1.site-title, p.site-title {
            color: $color__header-color-secondary;
            position: relative;
            left: -70vw;
            
            a { color: $color__header-color-secondary ;}
        }
        
     }
    
}



// Header Menu
// -----------------------------------------------------------------------------
@import "header-menu";