header {
    
    #wrapper__header-top {
        height: 8vh;
        display: flex;
        flex-direction: row;
        
        div:first-of-type {
            background: $color__background-primary;
            flex: 1 0 calc(#{$width__background-primary} - #{$width__background-overlap});
        }
        
        div:nth-of-type(2) {
            background: #000000;
            flex: 1 0 $width__background-overlap;
        }
    
        div:nth-of-type(3){
            flex: 1 0 $width__background-secondary;
            background: $color__color-secondary;
        }
        
    }
    
    .site-title-wrapper,
    .site-description-wrapper { display: flex; }
   
    .header-left, .header-right { 
        overflow-x: hidden; 
    }
    
    
    
    h1.site-title { font-size: 5em; }
    p.site-title { font-size: 2.2em; }
    
    h1.site-title, p.site-title {  
        font-family: Anton;
        display: inline-block;
        width: 100vw;
        padding: 0 2vw 0 5vw;
        margin: 0;
        
        a { 
            letter-spacing: 2px;
            text-decoration: none;         
            text-transform: lowercase;
        }
     }
     
     p.site-description {
         font-family: Cabin;
         font-size: 1.8em;
         padding-left: 3vw;
         background: $color__background-secondary;
         color: $color__color-secondary;
         margin: 0 0 2% 0;
         padding-left: 5vw;
     }
     
     .header-left {
        background: $color__background-primary; 
        flex: 1 0 $width__background-primary;
        
        h1.site-title, p.site-title {
            color: $color__color-primary;
            
            a { color: $color__color-primary;}
        }
     }
     
     .header-right{
        background: $color__background-secondary;
        flex: 1 0 $width__background-secondary;
        
        h1.site-title, p.site-title {
            color: $color__color-secondary;
            position: relative;
            left: -$width__background-primary;
            
            a { color: $color__color-secondary ;}
        }
        
     }
    
}



// Header Menu
// -----------------------------------------------------------------------------
@import "header-menu";